#content {
    z-index: -1;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;

}

.formulario-icon{
    width: 124px;
}

.formulario-input{
    margin-bottom: 1rem;
}

#buscarRemedio{
    border: 1px;
    background: #6bffe9;
    padding: 7px 14px;
    border-radius: 14px;
    box-shadow: rgb(0 0 0) 0 1px 0;
    text-shadow: rgb(0 0 0 / 40%) 0 1px 0;
    color: black;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}