<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="#38CFB8">

        <title th:text="#{indextitle.text}"></title>
        <link rel="icon" href="/images/icon.svg"/>
        <!-- Google Fonts API -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Our Custom CSS -->
<!--        <link rel="stylesheet" href="/style/homeStyle.css">-->
        <!-- href Correto = /style/homeStyle.css-->
        <link rel="stylesheet" href="/style/indexStyle.css">

        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
                integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
                integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient">
        <div>
            <a class="navbar-brand" href="/">
                <img alt="logo-icon" width="140px" src="/images/icon-home.png">
            </a>
        </div>
<!--                    <div th:text="#{indextitle.text}" class="title-home"></div>-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span  class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <select class="inter" id="locales">
                        <option value="" th:text="#{alllanguage.change}"></option>
                        <option value="en" th:text="#{alllanguage.english}"></option>
                        <option value="pt_BR" th:text="#{alllanguage.portuguese}"></option>
                    </select>
                </li>
                <li class="nav-item" >
                    <a th:text="#{navbar.login}" class="nav-link inicio-btn" href="/login"></a>
                </li>
                <li class="nav-item" id="">
                    <a th:text="#{cadusubutton.createacc}" class="nav-link cadastrar-btn" href="/cadastro"></a>
                </li>
            </ul>
        </div>
    </nav>

        <div id="container-fluid">
            <div id="carouselExampleIndicators" class="carousel slide content col-12 col-sm-12 col-md-7 col-lg-7 col-lx-7" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" th:if="${(param.lang != null) && (param.lang[0] == 'en')}">
                    <div class="carousel-item active">
                        <img src="/images/banner1-en.png" class="d-block w-100" alt="Responsive image">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner2-en.png" class="d-block w-100" alt="Responsive image">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner3-en.png" class="d-block w-100" alt="Responsive image">
                    </div>
                </div>

                <div class="carousel-inner" th:if="${(param.lang == null) or (param.lang[0] != 'en')}">
                    <div class="carousel-item active">
                        <img src="/images/banner1-br.png" class="d-block w-100" alt="Responsive image">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner2-br.png" class="d-block w-100" alt="Responsive image">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner3-br.png" class="d-block w-100" alt="Responsive image">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="jumbotron col-lg-12 col-md-12">
            <selection class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading footer" th:text="#{indexwelcome.text}"></h1>
                    <p class="lead text-muted footer" th:text="#{indextext.text}"></p>
                </div>
            </selection>
            </div>

            <div class="container">
                <!-- Funcionalidades -->
                <h2 class="text-center" id="H2Fun">Funcionalidades</h2>
                <div class="row">

                    <!-- Notificações -->
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/images/Prin_Alert.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{indexfunctions.notifications}"></h5>
                                <p class="card-text" th:text="#{indexnotifications.text}"></p>
                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>
                    </div>

                    <!-- Controle de gastos -->

                    <div class="col-sm-12 col-md-6 col-lg-3">

                        <div class="card" >
                            <img class="card-img-top" src="/images/Prin_Money.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{indexfunctions.balance}"></h5>
                                <p class="card-text" th:text="#{indexnotifications.text}"></p>
                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>
                    </div>

                    <!-- Calendário -->
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card" >
                            <img class="card-img-top" src="/images/Prin_Calendanrio.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{indexfunctions.calendar}"></h5>
                                <p class="card-text" th:text="#{indexcalendar.text}"></p>
                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>
                    </div>

                    <!-- Categorização -->
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card" >
                            <img class="card-img-top" src="/images/Prin_Remedio.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{indexfunctions.categories}"></h5>
                                <p class="card-text" th:text="#{indexcategories.text}"></p>
                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>
                    </div>
                <!-- Fim da Row -->
                </div>
            </div>

            <div class="rodapeIndex" id="rodapeIndex">
                <div class="informacoes-footer text-center">

                    <h5>
                        Meu Remédio - CNPJ: 00.000.000/0000-00 - SAC: (11) 0000-0000
                    </h5>
                    <h5>
                        <a href="mailto:8balls.integratedproject@gmail.com"></a>
                    </h5>
                    <h5>
                        R. Pedro Vicente, 625 - Canindé, São Paulo - SP, 01109-010
                    </h5>
                </div>
            </div>
        </div>

    <!-- Estes scripts tratam dos arquivos .jsp correspondentes a cada página html -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq"></script>
    <script src="/script/login.jsp"></script>
    <!-- Link do bootstrap (JS) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

<!--        &lt;!&ndash; correto =  /script/index.jsp&ndash;&gt;-->
<!--        <script src="static/script/index.jsp"></script>-->
<!--        &lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->


    <script>


        $('.carousel').carousel({
            interval: 5000
        })
    </script>
    </body>
</html>