<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Google Fonts API -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/style/redefinirSenha.css"/>
        <title th:text="#{recpassword.title}"></title>
        <link rel="icon" href="/images/icon.svg"/>
        <link rel="manifest" href="/config/manifest.json">
        <link rel="apple-touch-icon" href="/images/icon.svg">
        <link rel="canonical" href="https://meuremedioapp.herokuapp.com">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div>
                <a class="navbar-brand" href="/static">
                    <img alt="logo-icon" width="140px" src="/images/icon-home.png">
                </a>
            </div>
            <!--            <div th:text="#{indextitle.text}" class="title-home"></div>-->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <select class="inter" id="locales">
                            <option value="" th:text="#{alllanguage.change}"></option>
                            <option value="en" th:text="#{alllanguage.english}"></option>
                            <option value="pt_BR" th:text="#{alllanguage.portuguese}"></option>
                        </select>
                    </li>
                    <li class="nav-item">
                        <a th:text="#{navbar.index}" class="nav-link inicio-btn" href="/static"></a>
                    </li>
                    <li class="nav-item">
                        <a th:text="#{indexbutton.login}" class="nav-link cadastrar-btn" href="/login"></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div style="text-align: center" class="alert alert-info" role="alert"
             th:if="${param.codigoErro}" th:text="#{recpassword.invalidverify}"></div>

        <section class="container d-flex justify-content-center col-12 col-sm-12 col-md-8 col-lg-5 col-lx-6">
            <div class="card formulario-card col-12">
                <div class="card-body d-flex flex-wrap justify-content-center content">
                    <a href="/static">
                        <img class="formulario-icon" src="/images/icon.svg" alt="Ícone Meu Remédio">
                    </a>
                    <form class="justify-content-center" method="post">
                        <h2 class="form-h2 text-center" th:text="#{recpassword.formtitle}"></h2>

                        <div class="form-group">
                            <label th:text="#{recpassword.codeinput}"></label>
                            <input type="text" class="form-control formulario-input" id="US_Codigo" 
                                   name="password"
                                   required>
                        </div>

                        <div class="form-group">
                            <label th:text="#{recpassword.passwordinput}"></label>
                            <input type="password" class="form-control formulario-input" minlength="8" id="US_Senha"
                                   required>

                            <span><img id="spnMostrarSenha" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII="
                            alt="Visualizar senha"/><span th:text="#{recpassword.showpassword}"></span></span>
                        </div>
                        <div class="form-group">
                            <label th:text="#{recpassword.passwordreinput}"></label>
                            <input type="password" class="form-control formulario-input" minlength="8" id="US_ConfirmSenha"
                                   required>
                            <!--                            <span id="spnMostrarSenha" class="glyphicon glyphicon glyphicon-eye-open form-control-feedback"></span>-->

                            <span><img id="spnMostrarSenha1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII="
                            alt="Visualizar senha"/><span th:text="#{recpassword.showpassword}"></span></span>
                        </div>
                        <button class="formulario-button" th:text="#{recpassword.submitform}"></button>



                    </form>
                </div>
            </div>
        </section>


        <script>
            var password = document.getElementById("US_Senha")
                , confirm_password = document.getElementById("US_ConfirmSenha");

            function validatePassword(){
                if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Senhas diferentes!");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>

        <script>
            var $spnMostrarSenha = $('#spnMostrarSenha');
            var $txtSenha = $('#txtSenha');

            $spnMostrarSenha
                .on('mousedown mouseup', function() {
                    var inputType = $txtSenha.attr('type') == 'password' ? 'text' : 'password';
                    $txtSenha.attr('type', inputType);
                })
                .on('mouseout', function() {
                    $txtSenha.attr('type', 'password');
                });
        </script>

<!--        <script>-->
<!--            var $btnMostrarSenha = $('#btnMostrarSenha');-->
<!--            var $txtSenha = $('#US_Senha');-->

<!--            $btnMostrarSenha-->
<!--                .on('mousedown mouseup', function() {-->
<!--                    var inputType = $txtSenha.attr('type') == 'password' ? 'text' : 'password';-->
<!--                    $txtSenha.attr('type', inputType);-->
<!--                })-->
<!--                .on('mouseout', function() {-->
<!--                    $txtSenha.attr('type', 'password');-->
<!--                });-->
<!--        </script>-->


    </body>
</html>


